<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<p>
<div class="row">
  <div class="col-xs-2 space">
    <%= image_tag @user.photo_url(:thumb), class: "img-rounded" if @user.photo? %>
  </div>
  <div class="col-xs-4 col-md-6">
    <div class="col-xs-4 col-md-6">>
      <div class="name"><%= @user.name %></div>
      <p><%= @user.location %><br>
      <%= @user.bio %><br>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
      </p>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="shorten">
      <h3 class="panel-title">My Books</h3>
    </div>
    <div class= "pull-right">
        <%= form_tag({controller: "books", action: "search"}, :method => "get") do %>
        <%= label_tag(:book_title, "Search for your books to add +") %>
        <%= text_field_tag(:book_title) %>
        <%= submit_tag("Search") %>
        <% end %>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @owned_books.each do |book| %>
        <div class="col-xs-4 col-sm-3 col-md-2">
          <%= link_to((image_tag "#{book.cover_thumbnail}", alt: "#{book.title}", title: "#{book.title}"), "/books/#{book.id}", class: "thumbnail") %>
        </div>
      <% end %>
    </div>
  </div>
</div>




