<% provide(:title, 'Add Book') %>
<h1>Add A Book</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@book) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <%= f.label :cover_thumbnail %>
      <%= f.text_field :cover_thumbnail %>

      <%= f.label :cover_image %>
      <%= f.text_field :cover_image %>

      <%= f.label :content_version %>
      <%= f.text_field :content_version %>

      <%= f.label :publisher %>
      <%= f.text_field :publisher %>

      <%= f.label :published_date %>
      <%= f.text_field :published_date %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :categories %>
      <%= f.text_field :categories %>

      <%= f.label :average_rating %>
      <%= f.text_field :average_rating %>

      <%= f.label :ratings_count %>
      <%= f.text_field :ratings_count %>


      <%= f.submit "Add book", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

