<div class="row">
  <div class="col-xs-3 bookbox">
    <%= image_tag("#{@book.cover_image}", class: "resize_image img-responsive") %>
  </div>
  <div class=class="col-xs-4 col-md-6 bookbox">
    <h1><%= @book.title %></h1>
    <p><%= @book.author %></p>
    <p><%= @book.publisher + " | " + @book.published_date + " | " + @book.categories %></p>
    <p><%= @book.description %></p>
  </div>

</div>




